html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #000000;
}

.app-row {
  margin-left: 0rem;
  margin-right: 0rem;
}

@media (max-width: 576px){
  .app-row {
    padding-top: 20px;
  }
}

@media (min-width: 576px){
  .app-row {
    padding-top: 55px;
  }
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#root {
  transition: margin-right .5s; /* If you want a transition effect */
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 19px;}
  .sidebar a {font-size: 18px;}
}


a {
  color: #2cc649;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #fff;
  text-decoration: none;
  background-color: transparent;
  transition: all 0.3s ease 0s;
}

.btn-primary {
  color: #fff;
  background-color: #2cc649;
  border-color: #2cc649;
}

.btn-check:focus+.btn-primary, .btn-primary:focus {
  color: #fff;
  background-color: #2cc649;
  border-color: #2cc649;
  box-shadow: #2cc649;
}

.btn-check:active+.btn-primary, .btn-check:checked+.btn-primary, .btn-primary.active, .btn-primary:active, .show>.btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #2cc649;
  border-color: #2cc649;
}

.btn-primary:hover {
  color: #fff;
  background-color: #c3ffce;
  border-color: #c3ffce;
}