.button {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	column-gap: 20px;
	padding: 18px 30px;
	background-color: $greenColor;
	border-radius: 15px;
	border: 2px solid $greenColor;
	transition: all 0.3s ease 0s;
	@media (any-hover: hover) {
		&:hover {
			background-color: #fff;
		}
	}
	p {
		margin: 0;
		font-weight: 500;
		font-size: 20px;
		line-height: 24px;
		color: #000016;
	}
	&_white {
		background-color: #fff;
		@media (any-hover: hover) {
			&:hover {
				background-color: $greenColor;
			}
		}
	}
	@media (max-width: 500px) {
		display: flex;
		width: 100%;
	}
}
