.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 5;
	background-color: #000000;
	&__body {
		display: flex;
		justify-content: space-between;
		margin-top: 30px;
		min-height: 50px;

		@media (max-width: 767.98px) {
			align-items: center;
		}
	}
	&__logo {
		display: flex;
		align-items: center;
		img {
			@media (max-width: 750px) {
				max-width: 140px;
			}
			@media (max-width: 767.98px) {
				max-width: 90px;
			}
		}
	}
}

.menu {
	min-height: 100%;
	&__icon {
	}
	&__body {
		display: flex;
		align-items: center;
		min-height: 100%;
		@media (max-width: 767.98px) {
			position: fixed;
			top: -100%;
			left: 50%;
			transform: translateX(-50%);

			display: flex;
			justify-content: center;
			align-items: flex-start;

			width: 100%;
			height: 100%;

			min-height: auto;
			z-index: 1;
			overflow-y: auto;
			overflow-x: hidden;
			transition: all 0.3s ease 0s;
			._open & {
				top: 0;
				&::before {
					z-index: 1;
					top: 0;
				}
			}
			&::before {
				content: "";
				position: fixed;
				top: -100%;
				left: 0;
				width: 100%;
				background-color: #000;
				z-index: 1;
				transition: all 0.3s ease 0s;
			}
		}
	}
	&__list {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 35px;
		min-height: 100%;
		margin: 0;
		padding: 0;
		border-radius: 15px;
		@media (max-width: 950px) {
			gap: 20px;
		}
		@media (max-width: 850px) {
			gap: 12px;
		}
		@media (max-width: 767.98px) {
			flex-direction: column;
			padding: 20px;
			min-height: auto;
			background-color: #fff;
		}
	}
	&__item {
	}
	&__link {
		padding-block: 10px;
		cursor: pointer;
		white-space: nowrap;
	}
}

//Burger

.icon-menu {
	display: none;
	@media (max-width: 767.98px) {
		display: block;
		position: relative;
		//width: 15px;
		//height: 10px;
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - 1px);
		}
		._open & {
			span {
				width: 0;
				text-align: center;
			}
			&::before {
				top: calc(50% - 1px);
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - 1px);
				transform: rotate(45deg);
			}
		}
	}
}
