.footer {
	&__body {
		padding-top: 30px;
		padding-bottom: 45px;
		border-top: 3px solid #e9e9e9;
		background-color: #000000;
	}
	&__top {
	}
}

.top-footer {
	&__body {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-bottom: 400px;
		@media (max-width: 1100px) {
			margin-bottom: 300px;
		}
		@media (max-width: 1024px) {
			margin-bottom: 175px;
		}
		@media (max-width: 500px) {
			flex-direction: column;
			align-items: center;
			row-gap: 50px;
			margin-bottom: 130px;
		}
	}
	&__logo {
		img {
			@media (max-width: 500px) {
				max-width: 90px;
			}
		}
	}
	&__menu {
	}
	&__contacts {
		display: flex;
		flex-direction: column;
	}
	&__phone-main {
		display: none;
		@media (max-width: 500px) {
			display: block;
		}
	}
	&__phone {
	}
}

.footer-menu {
	&__body {
	}
	&__list {
		display: flex;
		flex-direction: column;
		row-gap: 10px;
		margin: 0;
		padding: 0;
		@media (max-width: 500px) {
			align-items: center;
		}
	}
	&__item {
	}
	&__link {
		cursor: pointer;
	}
}

.main-footer {
	&__body {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-bottom: 30px;
		margin-bottom: 20px;
		border-bottom: 3px solid #e9e9e9;
		@media (max-width: 500px) {
			justify-content: center;
		}
	}
	&__protect-info {
		color: white;
	}
	&__phone {
		@media (max-width: 500px) {
			display: none;
		}
	}
}

.bottom-footer {
	&__body {
		display: flex;
	}
	&__item {
		flex: 0 1 50%;
		display: grid;
		gap: 10px;
		@media (max-width: 500px) {
			display: flex;
			flex-direction: column;
		}
		a {
			display: block;
		}
		font-family: $interFont;
		font-size: 10px;
		line-height: 12px;
		color: white;
	}
	&__empty {
		flex: 0 0 50%;
		@media (max-width: 500px) {
			display: none;
		}
	}
	&__title {
		font-weight: 500;
		font-family: $interFont;
		font-size: 10px;
		line-height: 12px;
		color: white;
	}
	&__sub-title {
		a {
			font-weight: 400;
			font-family: $interFont;
			font-size: 10px;
			line-height: 12px;
			color: white;
		}
	}
}
