@import "https://unpkg.com/open-props";
@import "variables";
@import "nullstyle";

@import "../components/pages/main";
@import "../components/Header/header";
@import "../components/MainContent/mainContent";
@import "../components/Footer/footer";
@import "../components/Ui/Button/button";

body {
	&._lock {
		overflow: hidden;
		touch-action: none;
	}
}
.wrapper {
	position: relative;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	background-color: #000000;

	// Прижимаем footer
	> main {
		flex: 1 1 auto;
	}
	// Фикс для слайдеров
	> * {
		min-width: 0;
	}
}

[class*="__container"] {
	max-width: 1260px;
	box-sizing: content-box;
	margin: 0 auto;
	padding-inline: 30px;
}

._text-link {
	font-size: 16px;
	line-height: 140%;
	color: #000016;
	@media (max-width: 1024px) {
		font-size: 14px;
	}
}

._title {
	font-family: $ibmFont;
	font-weight: 500;
	font-size: 48px;
	line-height: 1.3;
	@media (max-width: 1024px) {
		font-size: 36px;
	}
	@media (max-width: 767px) {
		font-size: 32px;
	}
}

.swiper {
	overflow: initial !important;
}
.swiper-slide {
	width: 270px !important;
	@media (max-width: 767.98px) {
		width: 200px !important;
	}
}
