.study-main {
	position: relative;
	min-height: 100vh;
	&__circle {
		position: absolute;
		top: -116px;
		right: -250px;
		width: 733px;
		height: 733px;
		border-radius: 50%;
		background-color: $lightGreenColor;
		@media (max-width: 1024px) {
			width: 686px;
			height: 686px;
		}
		@media (max-width: 767.98px) {
			width: 540px;
			height: 540px;
		}
		@media (max-width: 500px) {
			top: -60px;
			right: -90px;
			width: 377px;
			height: 377px;
		}
	}
	&__body {
		position: relative;
		z-index: 2;
		display: grid;
		min-height: 100vh;
		//grid-template-columns: 55% 45%;
		justify-content: center;
		gap: 15px;
		margin-bottom: 140px;
		@media (max-width: 1024px) {
			margin-bottom: 110px;
		}
		@media (max-width: 767.98px) {
			display: flex;
			flex-direction: column-reverse;
			row-gap: 40px;
			margin-bottom: 60px;
		}
	}
	&__info-box {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__info {
		display: grid;
		gap: 20px;
	}
	&__title {
		font-family: $ibmFont;
		font-weight: 500;
		font-size: 150px;
		line-height: 1.3;
		letter-spacing: -0.02em;
		@media (max-width: 1250px) {
			font-size: 120px;
		}
		@media (max-width: 1024px) {
			font-size: 110px;
		}
		@media (max-width: 910px) {
			font-size: 70px;
		}
	}
	&__text {
		font-weight: 400;
		font-size: 16px;
		line-height: 140%;
		margin-bottom: 40px;
	}
	&__image-box {
		display: flex;
		justify-content: center;
		align-items: center;
		@media (max-width: 767.98px) {
			justify-content: flex-start;
		}
	}
	&__image {
		position: relative;
		top: 60px;
		left: 15px;
		@media (max-width: 500px) {
			left: -20px;
		}

		&::after {
			content: "";
			position: absolute;
			bottom: 60px;
			left: 60%;
			transform: translateX(-50%);

			width: 418px;
			height: 10px;
			background: #d9d9d9;
			filter: blur(8px);

			border-radius: 50%;
			@media (max-width: 500px) {
				bottom: 30px;
				width: 250px;
				height: 7px;
			}
		}
		img {
			@media (max-width: 1250px) {
				max-width: 500px;
			}
			@media (max-width: 1024px) {
				max-width: 461px;
			}
			@media (max-width: 910px) {
				max-width: 390px;
			}
			@media (max-width: 500px) {
				max-width: 315px;
			}
		}
	}
}
